In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
s=df["Name"][0:10]

In [19]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [20]:
len(s)

10

In [21]:
type(s)

pandas.core.series.Series

In [27]:
l=["Virat","b","c","d","e","f","g","h","i","j"]

In [31]:
s1=pd.Series(list(s),index=l)

In [32]:
s[0]

'Braund, Mr. Owen Harris'

In [33]:
s1[0]

'Braund, Mr. Owen Harris'

In [35]:
s1["Virat"]

'Braund, Mr. Owen Harris'

In [41]:
s2=s1.append(s)

/tmp/ipykernel_118/2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [43]:
s2

Virat                              Braund, Mr. Owen Harris
b        Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                   Heikkinen, Miss. Laina
d             Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                 Allen, Mr. William Henry
f                                         Moran, Mr. James
g                                  McCarthy, Mr. Timothy J
h                           Palsson, Master. Gosta Leonard
i        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                      Nasser, Mrs. Nicholas (Adele Achem)
0                                  Braund, Mr. Owen Harris
1        Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                   Heikkinen, Miss. Laina
3             Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                 Allen, Mr. William Henry
5                                         Moran, Mr. James
6                                  McCarthy, Mr. Timothy J
7                           Palsson, Master. Gosta Leonard
8        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                      Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [42]:
s2[0]

'Braund, Mr. Owen Harris'

In [45]:
s2[4]

'Allen, Mr. William Henry'

In [47]:
s4=pd.Series([3,2,5,6,4],index=[1,2,3,4,5])

In [48]:
s4

1    3
2    2
3    5
4    6
5    4
dtype: int64

In [50]:
s5=pd.Series([153,205,524,649,404],index=[10,20,30,40,50])

In [54]:
s6=s4.append(s5)

/tmp/ipykernel_118/884104408.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6=s4.append(s5)

In [55]:
s4

10    153
20    205
30    524
40    649
50    404
dtype: int64

In [58]:
s6

10    153
20    205
30    524
40    649
50    404
10    153
20    205
30    524
40    649
50    404
dtype: int64

In [60]:
s6[40]

40    649
40    649
dtype: int64

In [61]:
s6[0:5]

/tmp/ipykernel_118/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

10    153
20    205
30    524
40    649
50    404
dtype: int64

In [62]:
s4

10    153
20    205
30    524
40    649
50    404
dtype: int64

In [63]:
s5

10    153
20    205
30    524
40    649
50    404
dtype: int64

In [68]:
s1*s5

Virat    NaN
b        NaN
c        NaN
d        NaN
e        NaN
f        NaN
g        NaN
h        NaN
i        NaN
j        NaN
10       NaN
20       NaN
30       NaN
40       NaN
50       NaN
dtype: object

In [69]:
s1+s5

Virat    NaN
b        NaN
c        NaN
d        NaN
e        NaN
f        NaN
g        NaN
h        NaN
i        NaN
j        NaN
10       NaN
20       NaN
30       NaN
40       NaN
50       NaN
dtype: object

THANK YOU SO MUCH !!

VIRAT TIWARI :)